body {
	font-family: sans-serif;
	background-color:#99CCFF;
	}

#main {
	width: 90%; 
	margin-left: auto; 
	margin-right: auto; 
	height: 1000px;  
	position:relative; 
	top: 70px; 
	overflow: auto; 
	background-color: white;
	border: 1px solid black;
}

#main #left {
	width: 20%; 
	margin: 0; 
	height: 100%; 
	position:relative;
	 float: left; background-color: white; border: 1px solid black;


}


#main #home {


width: 60%; margin: 0; height: 100%; position: relative; float: left;, background-color: white; border: 1px solid black;


}

#main #right {



width: 19%; margin: 0; height : 100%; position: fixed; right: 5%; background-color: white; border: 1px solid black;


}


#topnav {
	width: 100%;
	height: 30px;
	margin: 0;
	background-color: #181818;
	position: fixed;
	margin-top: -10px;
	z-index: 1000;
	margin-left: -7px;

	}
	
#topnav ul.share-buttons {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

#topnav ul.share-buttons li {
  display: inline;
  float: right;
  margin-right: 50px;
  margin-top: 7px;

}	


#topnav img {
	height: 20px;
	width: 20px;
	

	}		
#navigation {
	width: 100%;
	height: 50px;
	background-color: #ececec;
	position: fixed;
	z-index: 1000;
	margin-top: 20px;
	margin-left: -7px;

}

/*Strip the ul of padding and list styling*/
#navigation ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
#navigation ul li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
#navigation li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: black;
	background: #ececec;
	text-decoration: none;
	
}




/*Hover state for top level links*/
#navigation li:hover a {
	background: lightsteelblue;
}

/*Style for dropdown links*/
#navigation li:hover ul a {
	background-color: #E0E0E0;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
	
}

/*Hover state for dropdown links*/
#navigation li:hover ul a:hover {
	background: lightblue;
	color: #fff;
}



#navigation li ul li ul  {
	display: none;

	}
	
	
	
	
#navigation li ul li:hover ul.hidden1 {
	
	margin-left: 140px;
	margin-top: -40px;
}	



	
#navigation li ul li:hover ul a {
	background: #E0E0E0;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
	min-width: 200px;

} 




/*Hide dropdown links until they are needed*/
#navigation li ul {
	display: none;
}

/*Make dropdown links vertical*/
#navigation li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
#navigation li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
 #navigation ul li a:hover + ul.hidden, ul.hidden:hover {
	display: block;
}


#navigation ul li ul.hidden:hover {
	display: block;

}

#navigation ul li ul.hidden li a:hover + ul.hidden1, ul.hidden1:hover {
	display: block;
	}



#navigation ul li ul.hidden li ul.hidden1:hover {
 display: block;

}



	
/*Style 'show menu' label button and hide it by default*/
#navigation .show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/

	
	
	#topnav ul {

		margin-left: auto;
		margin-right: auto;	
	
	}
	#navigation ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	#navigation li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	#navigation ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	#navigation .show-menu {
		display:block;
	}
	#main {
	width: 100%;	
	 margin: 0; height: 100%; position: relative; float: left;, background-color: white; border: 1px solid black;
	
	}	
	
	#home {
	width: 100%;	
	 margin: 0; height: 100%; position: relative; float: left;, background-color: white; border: 1px solid black;
	
	}
	
}